
<div ng-app="musicApp">
    <h1>Charts:</h1>
    <a href="#/following" class="links">Beats You Are Following</a> | <a href="#/top_rated">Trending</a> | <a href="#/new">New Releases</a> 
    <div ng-view=""></div>
</div>