<div class="partial_container">
    <h2 class="partial_title">New Releases</h2>
    <div class="line"></div>

	<div class="t">
	    <table class="table table-striped table-bordered">
		  	<thead class="thead-default">
		    <tr>
		      <th>#</th>
		      <th>Track Title</th>
		      <th>Description</th>
		    </tr>
		  </thead>
		  <tbody>
		    <tr ng-repeat="new in newReleases | filter:filter_name">
		      <th scope="row">1</th>
		      <td><a href="/tracks/{{new.id}}"> {{ new.title }} </a></td>
		      <td>{{new.desc}} </td>
		    </tr>
		  </tbody>
		</table>
	</div>

   <!--  <ol>
        <li class="loop" ng-repeat="new in newReleases | filter:filter_name"><a href="/tracks/{{new.id}}"> {{new.title}}</a> - {{new.desc}}</li>
    </ol> -->
</div>