// Place all the styles related to the Dashboard controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* Search Bar */

.input-group {
	width: 300px;
}

.input-group .form-control:last-child {
	border-radius: 5px;
}

#dashboard {
	margin-bottom: 37%;
}




