/*#profileContainer {
	width:90%;
	height:800px;
	margin:0px auto;
	border: 1px solid black;
}*/
.profilePicture {
	width:100px;
	height:100px;
	overflow: hidden;
}
.track {
	margin-top: 5%;
	width:70%;
	height:100px;
	border: 1px solid black;
}
.commentForm {
	margin-top: 3%;
}
.commentBox {
	width:30%;
	height:100px;
}