
/* User Show */

.profilePicture {
    width: 200px;
    height: 150px;
    overflow: hidden;
    display: inline-block;
}
.track {
	margin-top: 5%;
	width:70%;
	height:100px;
}
.commentForm {
	margin-top: 3%;
}
.commentBox {
	width:30%;
	height:100px;
}

/* Typed */

/* Landing Page */


/* general styles */
html, body {
  height: 100%;
  width: 100%;       
}

/* padded section */
.pad-section {
  padding: 50px 0;
}
.pad-section img {
  width: 100%;
}

.alert {

}

/* vertical-centered text */
.text-vcenter {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  color: white;
/*  text-shadow: 2px 2px black;*/
}

.text-vcenter h1 {
  font-size: 4.5em;
  font-weight: 700;
  margin: 0;
  padding: 0;
}

/* additional sections */
#home {
  background: url(dj.jpg) no-repeat center center fixed; 
  display: table;
  height: 100%;
  position: relative;
  width: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#about {
	background-color: #403e42;
background-image: url("http://www.transparenttextures.com/patterns/rough-cloth-light.png");
/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
color: white;
}

#services {


background: #673AB7; /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #673AB7 , #512DA8); /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #673AB7 , #512DA8); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        
  color: #ffffff;
}
#services .glyphicon {
  border: 2px solid #FFFFFF;
  border-radius: 50%;
  display: inline-block;
  font-size: 60px;
  height: 140px;
  line-height: 140px;
  text-align: center;
  vertical-align: middle;
  width: 140px;
}

#information {
  background: url(parkour.jpg) no-repeat center center fixed; 
  display: table;
  height: 800px;
  position: relative;
  width: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#information .panel {
  opacity: 0.85;
 background-color: #ebd2ca;
background-image: url("http://www.transparenttextures.com/patterns/asfalt-dark.png");
/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}


footer {
  padding: 20px 0;
  background-color: #403e42;
background-image: url("http://www.transparenttextures.com/patterns/rough-cloth-light.png");
}

.text-right {
	color: white;
}

footer .glyphicon {
  color: #333333;
  font-size: 60px;
}
footer .glyphicon:hover {
  color: #306d9f;
}

.userAlias{
	font-size: 3em;
	display: inline-block;
	vertical-align: top;
}

.userName{
	font-size: 1.5em;
	display: block;
}

.userField{
	font-size: 1em;
	display: block;
}


.profileInfo{
	display: inline-block;
}

#profile{
	display: inline-flex;
}

#profileTracks{
	display: inline-flex;
}

.navButton #link a:link, .navButton #link a:visited {
    text-decoration: none;
    color: white;
    cursor: pointer;
}