
/* User Show */

.profilePicture {
    width: 200px;
    height: 150px;
    overflow: hidden;
    display: inline-block;
}

.track {
	margin-top: 2%;
	width:70%;
	display: block;
  border: 1px solid silver;
  padding: 26px;
  margin-left: 20px;
  background-color: white;

-webkit-box-shadow: 2px 3px 14px -8px rgba(0,0,0,0.75);
-moz-box-shadow: 2px 3px 14px -8px rgba(0,0,0,0.75);
box-shadow: 2px 3px 14px -8px rgba(0,0,0,0.75);
}
.commentForm {
	margin-top: 3%;
}
.commentBox {
	width:30%;
	height:100px;
}

.userAlias{
  font-size: 3em;
  display: inline-block;
  vertical-align: top;
  font-size: 45px;
  font-weight: normal;
  line-height: 48px;
  color: hsl(200, 100%, 26%);
}

.userName{
  font-size: 2.0em;
  display: block;
  font-family: 'Lato', sans-serif;
  color: grey;
  font-weight: 300;
  line-height: 52px;
  margin-left: 5px;
}

.userField{
  font-size: 1.2em;
  display: block;
  color: #005885;
  margin-left: 6px;
}

h3 {
  margin-top: 5px;
  margin-bottom: 12px;
}

.profileInfo{
  display: inline-block;
  padding-left: 30px;
}

#profile{
  display: inline-flex;
  margin-left: -108px;
  border: 1px solid silver;
  padding: 26px;
  box-shadow: 2px 3px 14px -8px rgba(0, 0, 0, 0.75);
  background: white;
}

#profileTracks{
  display: inline-flex;
}

.navButton #link a:link, .navButton #link a:visited {
    text-decoration: none;
    color: white;
    cursor: pointer;
}

#profContainer{
  background: white;
  padding-bottom: 5%
}

div.control {
  margin-top: 19px;
}

#track {
  margin-left: 3px;
}

.desc {
  font-size: 16px;
}

.follow {
      margin-left: 567px;
    margin-top: 112px;
}

.playback {
  padding-top: 6px;
  font-size: 17px;
  font-family: "Avant Garde",Avantgarde,"Century Gothic",CenturyGothic,AppleGothic,sans-serif
}


/* Landing Page */


/* general styles */

html, body {
  height: 100%;
  width: 100%;
  background-color: #ebeaea;       
}


/* padded section */
.pad-section {
  padding: 50px 0;
}
.pad-section img {
  width: 100%;
}

.alert {
}

/* vertical-centered text */
.text-vcenter {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  color: white;
/*  text-shadow: 2px 2px black;*/
}

.text-vcenter h1 {
  font-size: 4.5em;
  font-weight: 700;
  margin: 0;
  padding: 0;
}

/* additional sections */
#home {
  background: url(dj.jpg) no-repeat center center fixed; 
  display: table;
  height: 100%;
  position: relative;
  width: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#about {
	background-color: #403e42;
background-image: url("http://www.transparenttextures.com/patterns/rough-cloth-light.png");
/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
color: white;
}

#services {


background: #673AB7; /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #673AB7 , #512DA8); /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #673AB7 , #512DA8); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        
  color: #ffffff;
}
#services .glyphicon {
  border: 2px solid #FFFFFF;
  border-radius: 50%;
  display: inline-block;
  font-size: 60px;
  height: 140px;
  line-height: 140px;
  text-align: center;
  vertical-align: middle;
  width: 140px;
}

#information {
  background: url(parkour.jpg) no-repeat center center fixed; 
  display: table;
  height: 800px;
  position: relative;
  width: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#information .panel {
  opacity: 0.85;
 background-color: #ebd2ca;
background-image: url("http://www.transparenttextures.com/patterns/asfalt-dark.png");
/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}

.text-center {
  height: 30%;
}


.text-right {
	color: white;
}



